@media (canvas-size: 1280px) {
  #comp-lrhoakgd {
    height: auto;
    component-layout: ComponentLayout;
    width: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    layout-itemLayout-id: "";
    justify-self: stretch;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.RefComponent;
    page-id: ;
    skin: wysiwyg.viewer.skins.ResponsiveContainerRefSkin;
    background: rgba(var(--color_11),0);
    style-type: ComponentStyle;
  }

  #comp-lrhoaknv {
    height: auto;
    component-layout: ComponentLayout;
    width: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-row-start: 3;
    layout-itemLayout-id: "";
    justify-self: stretch;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.RefComponent;
    page-id: ;
    skin: wysiwyg.viewer.skins.ResponsiveContainerRefSkin;
    background: rgba(var(--color_11),0);
    style-type: ComponentStyle;
  }

  #comp-lrhoakub {
    height: auto;
    component-layout: ComponentLayout;
    width: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    container-layout: GridContainerLayout;
    align-self: start;
    justify-self: end;
    item-margin-right: 0px;
    item-margin-top: 0px;
    item-layout: FixedItemLayout;
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.RefComponent;
    page-id: ;
    skin: wysiwyg.viewer.skins.ResponsiveContainerRefSkin;
    background: rgba(var(--color_11),0);
    style-type: ComponentStyle;
  }

  #comp-lrhocm8g {
    design-background-alignType: "center";
    design-background-color: "color_11";
    design-background-colorOpacity: 1;
    design-background-colorOverlay: "";
    design-background-colorOverlayOpacity: 0;
    design-background-fittingType: "fill";
    design-background-scrollType: "none";
    design-background-type: "BackgroundMedia";
    design-type: "MediaContainerWithDividers";
    height: auto;
    hidden: false;
    max-height: 99999px;
    max-width: 99999px;
    min-height: 1522.421875px;
    min-width: 0px;
    component-layout: ComponentLayout;
    column-gap: 0px;
    grid-template-columns: minmax(0px,1fr);
    row-gap: 0px;
    grid-template-rows: minmax(326.891px,auto) minmax(1195.53px,auto);
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 2;
    justify-self: stretch;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: responsive.components.Section;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.RectangleArea;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background: rgba(var(--color_11),0);
    style-type: ComponentStyle;
  }

  #comp-lrhocm95 {
    height: auto;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: auto;
    grid-template-columns: minmax(0px,1fr);
    grid-template-rows: 1fr;
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: stretch;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: mobile.core.components.Container;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.DefaultAreaSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background: rgba(var(--color_11),0);
    border-color: rgba(initial,0);
    border-width: 0px;
    border-radius: 0px;
    box-shadow: disabled(0px 0px 0px 0px rgba(0,0,0,0.6));
    style-type: ComponentStyle;
  }

  #comp-lrhocm98 {
    height: auto;
    hidden: false;
    component-layout: ComponentLayout;
    width: 68.94287109375%;
    flex-direction: column;
    container-layout: StackContainerLayout;
    align-self: start;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: start;
    item-margin-bottom: -0.0009883424011227814%;
    item-margin-left: 3.125%;
    item-margin-right: 0%;
    item-margin-top: 85px;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: mobile.core.components.Container;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.DefaultAreaSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background: rgba(var(--color_11),0.0);
    border-color: rgba(initial,0);
    border-width: 0px;
    border-radius: 0px;
    box-shadow: disabled(0px 0px 0px 0px rgba(0,0,0,0.6));
    style-type: ComponentStyle;
  }

  #comp-lrhocm9b {
    override-color1: color_15;
    opacity: 1;
    stroke: disabled(rgba(94,151,255,1) 4px);
    design-type: VectorImageDesignData;
    height: 49.984375px;
    hidden: false;
    max-height: 99999px;
    max-width: 99999px;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 49.999px;
    align-self: start;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0px;
    order: 2;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    class-name: wysiwyg.viewer.components.VectorImage;
    skin: skins.viewer.VectorImageSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    style-type: ComponentStyle;
  }

  #comp-lrhocm9m {
    height: auto;
    hidden: false;
    max-width: 99999px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 100%;
    align-self: start;
    item-margin-bottom: 2.262828003824498%;
    item-margin-left: 0px;
    item-margin-right: 0%;
    item-margin-top: 0px;
    order: 1;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    font-family: poppins-extralight,poppins,sans-serif;
    font-weight: bold;
    line-height: 1em;
    max-font-size: 74px;
    min-font-size: 60px;
    text-align: left;
    text-decoration: none;
    style-type: ComponentStyle;
  }

  #comp-lrhocm9s2 {
    height: auto;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: auto;
    grid-template-columns: minmax(0px,1fr);
    padding-bottom: 6%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    grid-template-rows: 1fr;
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 2;
    justify-self: stretch;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: mobile.core.components.Container;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.DefaultAreaSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background: rgba(var(--color_11),0);
    border-color: rgba(initial,0);
    border-width: 0px;
    border-radius: 0px;
    box-shadow: disabled(0px 0px 0px 0px rgba(0,0,0,0.6));
    style-type: ComponentStyle;
  }

  #comp-lrhocm9u1 {
    height: auto;
    hidden: false;
    max-width: 99999px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 100%;
    align-self: start;
    item-margin-bottom: 11.71875%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    order: 2;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    font-size: 16spx;
    line-height: 1.8em;
    max-font-size: 20px;
    min-font-size: 16px;
    style-type: ComponentStyle;
  }

  #comp-lrhof5wk {
    height: auto;
    hidden: false;
    max-width: 99999px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 100%;
    align-self: start;
    item-margin-bottom: 4.2694091796875%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    order: 1;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    max-font-size: 24px;
    min-font-size: 18px;
    text-align: left;
    text-decoration: none;
    style-type: ComponentStyle;
  }

  #comp-lrhohlf4 {
    height: auto;
    hidden: false;
    max-width: 99999px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 100%;
    align-self: start;
    item-margin-bottom: 11.71875%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    order: 4;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    font-size: 16spx;
    line-height: 1.8em;
    max-font-size: 20px;
    min-font-size: 16px;
    style-type: ComponentStyle;
  }

  #comp-lrhohmqt {
    height: auto;
    hidden: false;
    max-width: 99999px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 100%;
    align-self: start;
    item-margin-bottom: 4.296875%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    order: 3;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    max-font-size: 24px;
    min-font-size: 18px;
    text-align: left;
    text-decoration: none;
    style-type: ComponentStyle;
  }

  #comp-lrhojud1 {
    height: auto;
    hidden: false;
    max-width: 99999px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 100%;
    align-self: start;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    order: 6;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    font-size: 16spx;
    line-height: 1.8em;
    max-font-size: 20px;
    min-font-size: 16px;
    style-type: ComponentStyle;
  }

  #comp-lrhojuzm {
    height: auto;
    hidden: false;
    max-width: 99999px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 100%;
    align-self: start;
    item-margin-bottom: 4.296875%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    order: 5;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    max-font-size: 24px;
    min-font-size: 18px;
    text-align: left;
    text-decoration: none;
    style-type: ComponentStyle;
  }

  #comp-lrholmco {
    height: auto;
    hidden: false;
    component-layout: ComponentLayout;
    width: 40%;
    flex-direction: column;
    container-layout: StackContainerLayout;
    align-self: start;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: end;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 3.125%;
    item-margin-top: 0%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: mobile.core.components.Container;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.DefaultAreaSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background: rgba(var(--color_11),0);
    border-color: rgba(initial,0);
    border-width: 0px;
    border-radius: 0px;
    box-shadow: disabled(0px 0px 0px 0px rgba(0,0,0,0.6));
    style-type: ComponentStyle;
  }

  #l6mnd {
    height: auto;
    component-layout: ComponentLayout;
    grid-template-columns: minmax(0px,1fr);
    overflow-x: clip;
    overflow-y: clip;
    grid-template-rows: auto auto auto;
    container-layout: GridContainerLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: mobile.core.components.Page;
    page-id: ;
    skin: wysiwyg.viewer.skins.page.ResponsivePageWithColorBG;
    background: rgba(var(--color_11),1);
    style-type: ComponentStyle;
  }

}

@media (max-width: 750px) and (canvas-size: 390px) {
  #comp-lrhoakgd {
    height: auto;
    hidden: false;
    component-layout: ComponentLayout;
    width: auto;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-lrhoaknv {
    height: auto;
    hidden: false;
    component-layout: ComponentLayout;
    width: auto;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-row-start: 3;
    justify-self: stretch;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-lrhocm8g {
    height: auto;
    hidden: false;
    max-height: 99999px;
    max-width: 99999px;
    min-height: 1650.734375px;
    min-width: 0px;
    component-layout: ComponentLayout;
    column-gap: 0px;
    grid-template-columns: minmax(0px,1fr);
    padding-bottom: 5%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    row-gap: 0px;
    grid-template-rows: minmax(189.9531601153085px,auto) minmax(1441.2812148846915px,auto);
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 2;
    justify-self: stretch;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: responsive.components.Section;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.RectangleArea;
    spx-ref-width: 390;
    spx-resolver-type: scale;
    background: rgba(var(--color_11),0);
    style-type: ComponentStyle;
  }

  #comp-lrhocm95 {
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: stretch;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-lrhocm98 {
    height: auto;
    hidden: false;
    component-layout: ComponentLayout;
    width: 85.78525641025641%;
    flex-direction: column;
    container-layout: StackContainerLayout;
    align-self: start;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: start;
    item-margin-bottom: -0.00387820512820816%;
    item-margin-left: 16px;
    item-margin-right: 0%;
    item-margin-top: 40px;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-lrhocm9b {
    height: 49.96875px;
    hidden: false;
    max-height: 99999px;
    max-width: 99999px;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 50px;
    align-self: start;
    item-margin-bottom: 0px;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0px;
    order: 2;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.VectorImage;
    page-id: ;
    skin: skins.viewer.VectorImageSkin;
    spx-ref-width: 390;
    spx-resolver-type: scale;
    style-type: ComponentStyle;
  }

  #comp-lrhocm9m {
    align-self: start;
    item-margin-bottom: 20px;
    item-margin-left: 0px;
    item-margin-right: 0%;
    item-margin-top: 0px;
    order: 1;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    font-family: poppins-extralight,poppins,sans-serif;
    font-size: 114.872spx;
    font-weight: bold;
    line-height: 1em;
    max-font-size: 50px;
    min-font-size: 35px;
    text-align: left;
    text-decoration: none;
    style-type: ComponentStyle;
  }

  #comp-lrhocm9s2 {
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 2;
    justify-self: stretch;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-lrhocm9u1 {
    align-self: start;
    item-margin-bottom: 11.347014759984043%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    order: 2;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    font-size: 52.513spx;
    line-height: 1.8em;
    max-font-size: 20px;
    min-font-size: 16px;
    style-type: ComponentStyle;
  }

  #comp-lrhof5wk {
    align-self: start;
    item-margin-bottom: 3.9714551659944153%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    order: 1;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    max-font-size: 24px;
    min-font-size: 18px;
    text-align: left;
    text-decoration: none;
    style-type: ComponentStyle;
  }

  #comp-lrhohlf4 {
    align-self: start;
    item-margin-bottom: 11.347014759984043%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    order: 4;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    font-size: 52.513spx;
    line-height: 1.8em;
    max-font-size: 20px;
    min-font-size: 16px;
    style-type: ComponentStyle;
  }

  #comp-lrhohmqt {
    align-self: start;
    item-margin-bottom: 3.9714551659944153%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    order: 3;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    max-font-size: 24px;
    min-font-size: 18px;
    text-align: left;
    text-decoration: none;
    style-type: ComponentStyle;
  }

  #comp-lrhojud1 {
    align-self: start;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    order: 6;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    font-size: 52.513spx;
    line-height: 1.8em;
    max-font-size: 20px;
    min-font-size: 16px;
    style-type: ComponentStyle;
  }

  #comp-lrhojuzm {
    align-self: start;
    item-margin-bottom: 3.9714551659944153%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    order: 5;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    max-font-size: 24px;
    min-font-size: 18px;
    text-align: left;
    text-decoration: none;
    style-type: ComponentStyle;
  }

  #comp-lrholmco {
    height: auto;
    hidden: false;
    component-layout: ComponentLayout;
    width: 90.38899739583333%;
    flex-direction: column;
    container-layout: StackContainerLayout;
    align-self: start;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: start;
    item-margin-bottom: 0%;
    item-margin-left: 16px;
    item-margin-right: 0%;
    item-margin-top: 0.004069010416666667%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #l6mnd {
    grid-template-columns: minmax(0px,1fr);
    grid-template-rows: auto auto auto;
    container-layout: GridContainerLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

}

@media (max-width: 1000px) and (canvas-size: 768px) {
  #comp-lrhoakgd {
    height: auto;
    hidden: false;
    component-layout: ComponentLayout;
    width: auto;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-lrhoaknv {
    height: auto;
    hidden: false;
    component-layout: ComponentLayout;
    width: auto;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-row-start: 3;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-lrhocm8g {
    height: auto;
    hidden: false;
    max-height: 99999px;
    max-width: 99999px;
    min-height: 1125.6245px;
    min-width: 0px;
    component-layout: ComponentLayout;
    column-gap: 0px;
    grid-template-columns: minmax(0px,1fr);
    padding-bottom: 5%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    row-gap: 0px;
    grid-template-rows: minmax(225px,auto) minmax(300px,auto);
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 2;
    justify-self: stretch;
    item-margin-bottom: 0px;
    item-margin-left: 0px;
    item-margin-right: 0px;
    item-margin-top: 0px;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-lrhocm95 {
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: stretch;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-lrhocm98 {
    height: auto;
    hidden: false;
    component-layout: ComponentLayout;
    width: 57.177734375%;
    flex-direction: column;
    container-layout: StackContainerLayout;
    align-self: start;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: start;
    item-margin-bottom: 0%;
    item-margin-left: 3.125%;
    item-margin-right: 0%;
    item-margin-top: 40.015625px;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-lrhocm9b {
    height: 50px;
    hidden: false;
    max-height: 99999px;
    max-width: 99999px;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 50.001px;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.VectorImage;
    page-id: ;
    skin: skins.viewer.VectorImageSkin;
    spx-ref-width: 768;
    spx-resolver-type: scale;
    style-type: ComponentStyle;
  }

  #comp-lrhocm9m {
    align-self: start;
    item-margin-bottom: 4.548516174733605%;
    item-margin-left: 0px;
    item-margin-right: 0%;
    item-margin-top: 0px;
    order: 1;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    font-family: poppins-extralight,poppins,sans-serif;
    font-size: 91.667spx;
    font-weight: bold;
    line-height: 1em;
    max-font-size: 65px;
    min-font-size: 55px;
    text-align: left;
    text-decoration: none;
    style-type: ComponentStyle;
  }

  #comp-lrhocm9s2 {
    grid-template-columns: minmax(0px,1fr);
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    grid-template-rows: 1fr;
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 2;
    justify-self: stretch;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-lrhocm9u1 {
    height: auto;
    hidden: false;
    max-width: 99999px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 100%;
    align-self: start;
    item-margin-bottom: 5.7758521226584305%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    order: 2;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    font-size: 26.667spx;
    line-height: 1.8em;
    max-font-size: 20px;
    min-font-size: 16px;
    style-type: ComponentStyle;
  }

  #comp-lrhof5wk {
    align-self: start;
    item-margin-bottom: 1.889272181341862%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    max-font-size: 24px;
    min-font-size: 18px;
    text-align: left;
    text-decoration: none;
    style-type: ComponentStyle;
  }

  #comp-lrhohlf4 {
    height: auto;
    hidden: false;
    max-width: 99999px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 100%;
    align-self: start;
    item-margin-bottom: 5.185707774376519%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    font-size: 26.667spx;
    line-height: 1.8em;
    max-font-size: 20px;
    min-font-size: 16px;
    style-type: ComponentStyle;
  }

  #comp-lrhohmqt {
    align-self: start;
    item-margin-bottom: 1.901426183938057%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    max-font-size: 24px;
    min-font-size: 18px;
    text-align: left;
    text-decoration: none;
    style-type: ComponentStyle;
  }

  #comp-lrhojud1 {
    height: auto;
    hidden: false;
    max-width: 99999px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 100%;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    font-size: 26.667spx;
    line-height: 1.8em;
    max-font-size: 20px;
    min-font-size: 16px;
    style-type: ComponentStyle;
  }

  #comp-lrhojuzm {
    align-self: start;
    item-margin-bottom: 1.901426183938057%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0%;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    max-font-size: 24px;
    min-font-size: 18px;
    text-align: left;
    text-decoration: none;
    style-type: ComponentStyle;
  }

  #comp-lrholmco {
    height: auto;
    hidden: false;
    component-layout: ComponentLayout;
    width: 90.38899739583333%;
    align-self: start;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: start;
    item-margin-bottom: 0%;
    item-margin-left: 3.0985514322916665%;
    item-margin-right: 0%;
    item-margin-top: 0.004069010416666667%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #l6mnd {
    grid-template-columns: minmax(0px,1fr);
    grid-template-rows: auto auto auto;
    container-layout: GridContainerLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

}
