@media (canvas-size: 1280px) {
  #bj7et {
    height: auto;
    component-layout: ComponentLayout;
    grid-template-columns: minmax(0px,1fr);
    overflow-x: clip;
    overflow-y: clip;
    grid-template-rows: auto auto auto auto auto;
    container-layout: GridContainerLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: mobile.core.components.Page;
    page-id: ;
    skin: wysiwyg.viewer.skins.page.ResponsivePageWithColorBG;
    background: rgba(var(--color_11),1);
    style-type: ComponentStyle;
  }

  #comp-ljvfn2ko {
    design-background-alignType: "center";
    design-background-color: "color_11";
    design-background-colorLayers: [{"fill":{"color":"color_11","type":"SolidColor"},"opacity":1,"type":"SolidColorLayer"}];
    design-background-colorOpacity: 0;
    design-background-colorOverlay: "";
    design-background-colorOverlayOpacity: 0;
    design-background-fittingType: "fill";
    design-background-scrollType: "none";
    design-background-type: "BackgroundMedia";
    design-type: "MediaContainerWithDividers";
    height: auto;
    max-height: 99999px;
    max-width: 99999px;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    column-gap: 0spx;
    grid-template-columns: minmax(0px,1fr);
    row-gap: 0spx;
    grid-template-rows: minmax(121.875spx,auto);
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 2;
    justify-self: stretch;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: responsive.components.Section;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.RectangleArea;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background: rgba(var(--color_11),0);
    style-type: ComponentStyle;
  }

  #comp-ljvfn2vc {
    height: auto;
    component-layout: ComponentLayout;
    width: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-row-start: 5;
    layout-itemLayout-id: "";
    justify-self: stretch;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.RefComponent;
    page-id: ;
    skin: wysiwyg.viewer.skins.ResponsiveContainerRefSkin;
    background: rgba(var(--color_11),0);
    style-type: ComponentStyle;
  }

  #comp-ljvfn2ym {
    height: auto;
    hidden: false;
    component-layout: ComponentLayout;
    width: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    container-layout: GridContainerLayout;
    align-self: start;
    justify-self: end;
    item-margin-right: 0px;
    item-margin-top: 0px;
    item-layout: FixedItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.RefComponent;
    page-id: ;
    skin: wysiwyg.viewer.skins.ResponsiveContainerRefSkin;
    background: rgba(var(--color_11),0);
    style-type: ComponentStyle;
  }

  #comp-ljvfscoy {
    focal-point: 50% 50%;
    design-type: ImageXCustomDesign;
    height: aspect-ratio(0.546875);
    hidden: false;
    max-height: 99999px;
    max-width: 99999px;
    min-height: unset;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 100%;
    align-self: start;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: start;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: -23.4375%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wixui.ImageX;
    page-id: ;
    skin: wixui.skins.ImageX;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background-color: rgba(var(--color_15),1.0);
    style-style-borderColor-additionalData-alpha: "0.0";
    style-style-borderColor-value: "#ffffff";
    style-style-borderWidth-value: "0spx";
    style-style-boxShadow-additionalData-boxShadowToggleOn: "false";
    style-style-boxShadow-value: "3.54spx 3.54spx 10spx 0spx rgba(0,0,0,0.33)";
    style-style-cornerRadius-value: "0spx";
    style-style-mediaOpacity-value: "0.78";
    style-type: ComponentStyle;
  }

  #comp-ljvfu0cp {
    design-background-alignType: "center";
    design-background-color: "color_11";
    design-background-colorOpacity: 1;
    design-background-colorOverlay: "";
    design-background-colorOverlayOpacity: 0;
    design-background-fittingType: "fill";
    design-background-scrollType: "none";
    design-background-type: "BackgroundMedia";
    design-type: "MediaContainerWithDividers";
    height: auto;
    hidden: false;
    max-height: 99999px;
    max-width: 99999px;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    grid-template-columns: minmax(0px,1fr);
    grid-template-rows: minmax(52.817spx,auto) minmax(152.58spx,auto);
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-row-start: 3;
    justify-self: stretch;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: responsive.components.Section;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.RectangleArea;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background: rgba(var(--color_11),0);
    style-type: ComponentStyle;
  }

  #comp-ljvfufcm {
    height: auto;
    hidden: false;
    max-width: 99999px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 100%;
    align-self: start;
    item-margin-bottom: 5.487122397381755%;
    item-margin-left: 0px;
    item-margin-right: 0%;
    item-margin-top: 0px;
    order: 1;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    font-family: poppins-extralight,poppins,sans-serif;
    font-weight: bold;
    max-font-size: 74px;
    min-font-size: 60px;
    text-align: left;
    text-decoration: none;
    style-type: ComponentStyle;
  }

  #comp-ljvfw18f {
    override-color1: color_15;
    opacity: 1;
    stroke: disabled(rgba(94,151,255,1) 4px);
    design-type: VectorImageDesignData;
    height: 49.984375px;
    hidden: false;
    max-height: 99999px;
    max-width: 99999px;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 49.999px;
    align-self: start;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0px;
    order: 2;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    class-name: wysiwyg.viewer.components.VectorImage;
    skin: skins.viewer.VectorImageSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    style-type: ComponentStyle;
  }

  #comp-ljvfwgzk {
    height: auto;
    hidden: false;
    component-layout: ComponentLayout;
    width: 28.47530058171645%;
    flex-direction: column;
    container-layout: StackContainerLayout;
    align-self: start;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: start;
    item-margin-bottom: -0.0009883424011227814%;
    item-margin-left: 3.1250001811920805%;
    item-margin-right: 0%;
    item-margin-top: 3.1259885839905595%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: mobile.core.components.Container;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.DefaultAreaSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background: rgba(var(--color_11),0.0);
    border-color: rgba(initial,0);
    border-width: 0px;
    border-radius: 0px;
    box-shadow: disabled(0px 0px 0px 0px rgba(0,0,0,0.6));
    style-type: ComponentStyle;
  }

  #comp-ljvfx7xz {
    height: auto;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: auto;
    grid-template-columns: minmax(0px,1fr);
    grid-template-rows: 1fr;
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: stretch;
    item-margin-bottom: 0px;
    item-margin-left: 0px;
    item-margin-right: 0px;
    item-margin-top: 0px;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: mobile.core.components.Container;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.DefaultAreaSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background: rgba(var(--color_11),0);
    border-color: rgba(initial,0);
    border-width: 0px;
    border-radius: 0px;
    box-shadow: disabled(0px 0px 0px 0px rgba(0,0,0,0.6));
    style-type: ComponentStyle;
  }

  #comp-ljvfx7z1 {
    height: auto;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: auto;
    grid-template-columns: minmax(0px,1fr);
    grid-template-rows: 1fr;
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 2;
    justify-self: stretch;
    item-margin-bottom: 0px;
    item-margin-left: 0px;
    item-margin-right: 0px;
    item-margin-top: 0px;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: mobile.core.components.Container;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.DefaultAreaSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background: rgba(var(--color_11),0);
    border-color: rgba(initial,0);
    border-width: 0px;
    border-radius: 0px;
    box-shadow: disabled(0px 0px 0px 0px rgba(0,0,0,0.6));
    style-type: ComponentStyle;
  }

  #comp-ljvfxl17 {
    height: auto;
    hidden: false;
    max-width: 99999px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 40%;
    align-self: start;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: end;
    item-margin-bottom: 100px;
    item-margin-left: 0%;
    item-margin-right: 40px;
    item-margin-top: 100px;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    font-size: 16spx;
    line-height: 1.8em;
    max-font-size: 20px;
    min-font-size: 16px;
    style-type: ComponentStyle;
  }

  #comp-ljvg0x5f {
    design-background-alignType: "center";
    design-background-color: "color_11";
    design-background-colorOpacity: 1;
    design-background-colorOverlay: "";
    design-background-colorOverlayOpacity: 0;
    design-background-fittingType: "fill";
    design-background-scrollType: "none";
    design-background-type: "BackgroundMedia";
    design-type: "MediaContainerWithDividers";
    height: auto;
    hidden: false;
    max-height: 99999px;
    max-width: 99999px;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    grid-template-columns: minmax(0px,1fr);
    grid-template-rows: minmax(175.163spx,auto) minmax(400spx,auto);
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-row-start: 4;
    justify-self: stretch;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: responsive.components.Section;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.RectangleArea;
    background: rgba(var(--color_11),0);
    style-type: ComponentStyle;
  }

  #comp-ljvg0x5x {
    height: auto;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: auto;
    grid-template-columns: minmax(0px,1fr);
    grid-template-rows: 1fr;
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: stretch;
    item-margin-bottom: 0px;
    item-margin-left: 0px;
    item-margin-right: 0px;
    item-margin-top: 0px;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: mobile.core.components.Container;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.DefaultAreaSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background: rgba(var(--color_18),1.0);
    border-color: rgba(initial,0);
    border-width: 0px;
    border-radius: 0px;
    box-shadow: disabled(0px 0px 0px 0px rgba(0,0,0,0.6));
    style-type: ComponentStyle;
  }

  #comp-ljvg0x5y3 {
    height: auto;
    hidden: false;
    component-layout: ComponentLayout;
    width: 50.234375%;
    flex-direction: column;
    container-layout: StackContainerLayout;
    align-self: start;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: start;
    item-margin-bottom: -0.001181640624992042%;
    item-margin-left: 3.125%;
    item-margin-right: 0%;
    item-margin-top: 3.126220703125%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: mobile.core.components.Container;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.DefaultAreaSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background: rgba(var(--color_18),0.0);
    border-color: rgba(initial,0);
    border-width: 0px;
    border-radius: 0px;
    box-shadow: disabled(0px 0px 0px 0px rgba(0,0,0,0.6));
    style-type: ComponentStyle;
  }

  #comp-ljvg0x5z3 {
    override-color1: color_11;
    opacity: 1;
    stroke: disabled(rgba(94,151,255,1) 4px);
    design-type: VectorImageDesignData;
    height: 49.984375px;
    hidden: false;
    max-height: 99999px;
    max-width: 99999px;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 49.999px;
    align-self: start;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: 0px;
    order: 2;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    class-name: wysiwyg.viewer.components.VectorImage;
    skin: skins.viewer.VectorImageSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    style-type: ComponentStyle;
  }

  #comp-ljvg0x625 {
    height: auto;
    hidden: false;
    max-width: 99999px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 100%;
    align-self: start;
    item-margin-bottom: 3.1104199066874036%;
    item-margin-left: 0px;
    item-margin-right: 0%;
    item-margin-top: 0px;
    order: 1;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    color: rgb(255,255,255);
    font-size: 64spx;
    font-weight: bold;
    line-height: 1.4em;
    max-font-size: 74px;
    min-font-size: 60px;
    text-align: left;
    text-decoration: none;
    style-type: ComponentStyle;
  }

  #comp-ljvg0x65 {
    height: auto;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: auto;
    grid-template-columns: minmax(0px,1fr);
    grid-template-rows: minmax(maxContent,100%);
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 2;
    justify-self: stretch;
    item-margin-bottom: 0px;
    item-margin-left: 0px;
    item-margin-right: 0px;
    item-margin-top: 0px;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: mobile.core.components.Container;
    page-id: ;
    skin: wysiwyg.viewer.skins.area.DefaultAreaSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background: rgba(var(--color_18),1.0);
    border-color: rgba(initial,0);
    border-width: 0px;
    border-radius: 0px;
    box-shadow: disabled(0px 0px 0px 0px rgba(0,0,0,0.6));
    style-type: ComponentStyle;
  }

  #comp-ljvgbxc6 {
    height: auto;
    hidden: false;
    max-height: 99999px;
    max-width: 99999px;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 46.875%;
    align-self: start;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: end;
    item-margin-bottom: 100px;
    item-margin-left: 0%;
    item-margin-right: 5%;
    item-margin-top: 20px;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.tpapps.TPAWidget;
    page-id: ;
    skin: wysiwyg.viewer.skins.TPAWidgetSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    style-style-param\\_boolean\\_responsive-value: "true";
    style-style-param\\_color\\_buttonsBackgroundColor-additionalData-alpha: "0.0";
    style-style-param\\_color\\_buttonsBackgroundColor-value: "color_18";
    style-style-param\\_color\\_buttonsBackgroundColorHover-additionalData-alpha: "1.0";
    style-style-param\\_color\\_buttonsBackgroundColorHover-value: "color_18";
    style-style-param\\_color\\_buttonsBorderColor-additionalData-alpha: "1.0";
    style-style-param\\_color\\_buttonsBorderColor-value: "color_11";
    style-style-param\\_color\\_buttonsColorHover-additionalData-alpha: "1.0";
    style-style-param\\_color\\_buttonsColorHover-value: "color_11";
    style-style-param\\_color\\_formBackground-additionalData-alpha: "0.0";
    style-style-param\\_color\\_formBackground-value: "color_18";
    style-style-param\\_color\\_headerOneColor-additionalData-alpha: "1.0";
    style-style-param\\_color\\_headerOneColor-value: "color_11";
    style-style-param\\_color\\_headerTwoColor-additionalData-alpha: "1.0";
    style-style-param\\_color\\_headerTwoColor-value: "color_11";
    style-style-param\\_color\\_inputBackgroundColor-additionalData-alpha: "1.0";
    style-style-param\\_color\\_inputBackgroundColor-value: "color_18";
    style-style-param\\_color\\_inputBorderColor-additionalData-alpha: "1.0";
    style-style-param\\_color\\_inputBorderColor-value: "color_11";
    style-style-param\\_color\\_inputBorderColorHover-additionalData-alpha: "1.0";
    style-style-param\\_color\\_inputBorderColorHover-value: "color_16";
    style-style-param\\_color\\_inputErrorColor-additionalData-alpha: "1.0";
    style-style-param\\_color\\_inputErrorColor-value: "rgb(255, 160, 160)";
    style-style-param\\_color\\_inputLabelColor-additionalData-alpha: "1.0";
    style-style-param\\_color\\_inputLabelColor-value: "rgb(255, 255, 255)";
    style-style-param\\_color\\_inputNoteColor-additionalData-alpha: "1.0";
    style-style-param\\_color\\_inputNoteColor-value: "color_11";
    style-style-param\\_color\\_inputNoteColor▶︎m-additionalData-alpha: "1.0";
    style-style-param\\_color\\_inputNoteColor▶︎m-value: "color_11";
    style-style-param\\_color\\_inputPlaceholderColor-additionalData-alpha: "1.0";
    style-style-param\\_color\\_inputPlaceholderColor-value: "color_11";
    style-style-param\\_color\\_inputSelectionColor-additionalData-alpha: "1.0";
    style-style-param\\_color\\_inputSelectionColor-value: "rgb(255, 255, 255)";
    style-style-param\\_color\\_inputValueColor-additionalData-alpha: "1.0";
    style-style-param\\_color\\_inputValueColor-value: "color_11";
    style-style-param\\_color\\_linkColor-additionalData-alpha: "1.0";
    style-style-param\\_color\\_linkColor-value: "color_11";
    style-style-param\\_color\\_paragraphColor-additionalData-alpha: "1.0";
    style-style-param\\_color\\_paragraphColor-value: "color_11";
    style-style-param\\_color\\_submitButtonBackgroundColor-additionalData-alpha: "0.0";
    style-style-param\\_color\\_submitButtonBackgroundColor-value: "color_18";
    style-style-param\\_color\\_submitButtonBackgroundColorHover-additionalData-alpha: "1.0";
    style-style-param\\_color\\_submitButtonBackgroundColorHover-value: "color_11";
    style-style-param\\_color\\_submitButtonBorderColor-additionalData-alpha: "1.0";
    style-style-param\\_color\\_submitButtonBorderColor-value: "color_11";
    style-style-param\\_color\\_submitButtonColor-additionalData-alpha: "1.0";
    style-style-param\\_color\\_submitButtonColor-value: "color_11";
    style-style-param\\_color\\_submitButtonColorHover-additionalData-alpha: "1.0";
    style-style-param\\_color\\_submitButtonColorHover-value: "color_18";
    style-style-param\\_font\\_inputLabelFont-value: "{\\"style\\":{\\"bold\\":false,\\"italic\\":false,\\"underline\\":false},\\"size\\":16,\\"preset\\":\\"Custom\\",\\"family\\":\\"avenir-lt-w01_35-light1475496\\",\\"fontStyleParam\\":false}";
    style-style-param\\_font\\_inputLabelFont▶︎m-value: "{\\"style\\":{\\"bold\\":false,\\"italic\\":false,\\"underline\\":false},\\"size\\":16,\\"preset\\":\\"Body-M\\",\\"family\\":\\"avenir-lt-w01_35-light1475496\\",\\"fontStyleParam\\":false}";
    style-style-param\\_font\\_inputNoteFont-value: "{\\"style\\":{\\"bold\\":false,\\"italic\\":false,\\"underline\\":false},\\"size\\":16,\\"preset\\":\\"Custom\\",\\"family\\":\\"avenir-lt-w01_35-light1475496\\",\\"fontStyleParam\\":false}";
    style-style-param\\_font\\_inputNoteFont▶︎m-value: "{\\"style\\":{\\"bold\\":false,\\"italic\\":false,\\"underline\\":false},\\"size\\":16,\\"preset\\":\\"Body-M\\",\\"family\\":\\"avenir-lt-w01_35-light1475496\\",\\"fontStyleParam\\":false}";
    style-style-param\\_font\\_paragraphFont-value: "{\\"style\\":{\\"bold\\":false,\\"italic\\":false,\\"underline\\":false},\\"size\\":16,\\"preset\\":\\"Body-M\\",\\"family\\":\\"avenir-lt-w01_35-light1475496\\",\\"fontStyleParam\\":false}";
    style-style-param\\_number\\_borderWidth-value: "1.0";
    style-style-param\\_number\\_buttonsBorderRadius-value: "0.0";
    style-style-param\\_number\\_buttonsBorderWidth-value: "0.0";
    style-style-param\\_number\\_buttonsStyle-value: "2.0";
    style-style-param\\_number\\_inputBorderStyle-value: "2.0";
    style-style-param\\_number\\_submitButtonBorderRadius-value: "0.0";
    style-style-param\\_number\\_submitButtonBorderWidth-value: "0.0";
    style-style-param\\_number\\_submitButtonStyle-value: "2.0";
    style-type: ComponentStyle;
  }

  #comp-ljvgbxc6.variants-ljy0wj18 {
    reactions-type: "Reactions";
    reactions-values: [{"effect":"#effects-ljy0wj1m","once":true,"type":"Play"}];
  }

  #comp-lk9hnelt {
    height: auto;
    component-layout: ComponentLayout;
    width: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: stretch;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.RefComponent;
    page-id: ;
    skin: wysiwyg.viewer.skins.ResponsiveContainerRefSkin;
    background: rgba(var(--color_11),0);
    style-type: ComponentStyle;
  }

}

@media (max-width: 750px) and (canvas-size: 390px) {
  #bj7et {
    grid-template-columns: minmax(0px,1fr);
    grid-template-rows: auto auto auto auto auto;
    container-layout: GridContainerLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-ljvfn2ko {
    height: auto;
    hidden: false;
    max-height: 99999px;
    max-width: 99999px;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    grid-template-columns: minmax(0px,1fr);
    grid-template-rows: minmax(299.992spx,auto);
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 2;
    justify-self: stretch;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-ljvfn2vc {
    height: auto;
    hidden: false;
    component-layout: ComponentLayout;
    width: auto;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-row-start: 5;
    justify-self: stretch;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-ljvfscoy {
    crop: 551px 0px 1706px 2000px;
    crop-mask: {"flip":"none"};
    focal-point: 50% 50%;
    design-type: ImageXCustomDesign;
    height: aspect-ratio(1.5384615384615385);
    hidden: false;
    max-height: 99999px;
    max-width: 99999px;
    min-height: unset;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 100%;
    align-self: start;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: start;
    item-margin-bottom: -12.816554487179497%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: -299.625px;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wixui.ImageX;
    page-id: ;
    skin: wixui.skins.ImageX;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    background-color: rgba(var(--color_15),1.0);
    style-style-borderColor-additionalData-alpha: "0.0";
    style-style-borderColor-value: "#ffffff";
    style-style-borderWidth-value: "0spx";
    style-style-boxShadow-additionalData-boxShadowToggleOn: "false";
    style-style-boxShadow-value: "3.54spx 3.54spx 10spx 0spx rgba(0,0,0,0.33)";
    style-style-cornerRadius-value: "0spx";
    style-style-mediaOpacity-value: "0.78";
    style-type: ComponentStyle;
  }

  #comp-ljvfu0cp {
    height: auto;
    hidden: false;
    max-height: 99999px;
    max-width: 99999px;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    grid-template-columns: minmax(0px,1fr);
    grid-template-rows: minmax(114.392spx,auto) minmax(565.483spx,auto);
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-row-start: 3;
    justify-self: stretch;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-ljvfufcm {
    align-self: start;
    item-margin-bottom: 5.977956286194657%;
    item-margin-left: 0px;
    item-margin-right: 0%;
    item-margin-top: 0px;
    order: 1;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    spx-ref-width: 390;
    spx-resolver-type: scale;
    font-family: poppins-extralight,poppins,sans-serif;
    font-size: 35spx;
    font-weight: bold;
    max-font-size: 50px;
    min-font-size: 35px;
    text-align: left;
    text-decoration: none;
    style-type: ComponentStyle;
  }

  #comp-ljvfw18f {
    height: 49.96875px;
    hidden: false;
    max-height: 99999px;
    max-width: 99999px;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 50px;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.VectorImage;
    page-id: ;
    skin: skins.viewer.VectorImageSkin;
    spx-ref-width: 390;
    spx-resolver-type: scale;
    style-type: ComponentStyle;
  }

  #comp-ljvfwgzk {
    height: auto;
    hidden: false;
    component-layout: ComponentLayout;
    width: 85.78525641025641%;
    flex-direction: column;
    container-layout: StackContainerLayout;
    align-self: start;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: start;
    item-margin-bottom: -0.00387820512820816%;
    item-margin-left: 3.125%;
    item-margin-right: 0%;
    item-margin-top: 40px;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-ljvfx7xz {
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: stretch;
    item-margin-bottom: 0px;
    item-margin-left: 0px;
    item-margin-right: 0px;
    item-margin-top: 0px;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-ljvfx7z1 {
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 2;
    justify-self: stretch;
    item-margin-bottom: 0px;
    item-margin-left: 0px;
    item-margin-right: 0px;
    item-margin-top: 0px;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-ljvfxl17 {
    align-self: start;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: start;
    item-margin-bottom: 50px;
    item-margin-left: 16px;
    item-margin-right: 16px;
    item-margin-top: 40px;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    font-size: 52.513spx;
    line-height: 1.8em;
    max-font-size: 20px;
    min-font-size: 16px;
    style-type: ComponentStyle;
  }

  #comp-ljvg0x5f {
    height: auto;
    hidden: false;
    max-height: 99999px;
    max-width: 99999px;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    grid-template-columns: minmax(0px,1fr);
    grid-template-rows: minmax(50spx,auto) minmax(50spx,auto);
    container-layout: GridContainerLayout;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-row-start: 4;
    justify-self: stretch;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-ljvg0x5x {
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: stretch;
    item-margin-bottom: 0px;
    item-margin-left: 0px;
    item-margin-right: 0px;
    item-margin-top: 0px;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-ljvg0x5y3 {
    height: auto;
    hidden: false;
    component-layout: ComponentLayout;
    width: 89.52724358974359%;
    flex-direction: column;
    container-layout: StackContainerLayout;
    align-self: start;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: start;
    item-margin-bottom: -0.003910256410236821%;
    item-margin-left: 16px;
    item-margin-right: 0%;
    item-margin-top: 40px;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-ljvg0x5z3 {
    height: 49.96875px;
    hidden: false;
    max-height: 99999px;
    max-width: 99999px;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 50px;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.VectorImage;
    page-id: ;
    skin: skins.viewer.VectorImageSkin;
    spx-ref-width: 390;
    spx-resolver-type: scale;
    style-type: ComponentStyle;
  }

  #comp-ljvg0x625 {
    height: auto;
    hidden: false;
    max-width: 99999px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 100%;
    align-self: start;
    item-margin-bottom: 5.728094513559474%;
    item-margin-left: 0px;
    item-margin-right: 0%;
    item-margin-top: 0px;
    order: 1;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    spx-ref-width: 390;
    spx-resolver-type: scale;
    color: rgb(255,255,255);
    font-size: 40spx;
    font-weight: bold;
    line-height: 1.4em;
    max-font-size: 50px;
    min-font-size: 35px;
    text-align: left;
    text-decoration: none;
    style-type: ComponentStyle;
  }

  #comp-ljvg0x65 {
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 2;
    justify-self: stretch;
    item-margin-bottom: 0px;
    item-margin-left: 0px;
    item-margin-right: 0px;
    item-margin-top: 0px;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-ljvgbxc6 {
    align-self: center;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: center;
    item-margin-bottom: 50px;
    item-margin-left: 16px;
    item-margin-right: 16px;
    item-margin-top: 0px;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-lk9hnelt {
    height: auto;
    hidden: false;
    component-layout: ComponentLayout;
    width: auto;
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: stretch;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

}

@media (max-width: 1000px) and (canvas-size: 768px) {
  #comp-ljvfn2ko {
    grid-template-columns: minmax(0px,1fr);
    grid-template-rows: minmax(152.34spx,auto);
    container-layout: GridContainerLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-ljvfscoy {
    height: aspect-ratio(0.9114583333333334);
    hidden: false;
    max-height: 99999px;
    max-width: 99999px;
    min-height: unset;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 100%;
    align-self: start;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: start;
    item-margin-bottom: 0%;
    item-margin-left: 0%;
    item-margin-right: 0%;
    item-margin-top: -39.018758138020836%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-ljvfufcm {
    align-self: start;
    item-margin-bottom: 6.298359212392255%;
    item-margin-left: 0px;
    item-margin-right: 0%;
    item-margin-top: 0px;
    order: 1;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    spx-ref-width: 768;
    spx-resolver-type: scale;
    font-family: poppins-extralight,poppins,sans-serif;
    font-size: 55spx;
    font-weight: bold;
    max-font-size: 65px;
    min-font-size: 55px;
    text-align: left;
    text-decoration: none;
    style-type: ComponentStyle;
  }

  #comp-ljvfw18f {
    height: 50px;
    hidden: false;
    max-height: 99999px;
    max-width: 99999px;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 50.001px;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.VectorImage;
    page-id: ;
    skin: skins.viewer.VectorImageSkin;
    spx-ref-width: 768;
    spx-resolver-type: scale;
    style-type: ComponentStyle;
  }

  #comp-ljvfwgzk {
    height: auto;
    hidden: false;
    component-layout: ComponentLayout;
    width: 41.29393133746422%;
    flex-direction: column;
    container-layout: StackContainerLayout;
    align-self: start;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: start;
    item-margin-bottom: -0.0015970378384184403%;
    item-margin-left: 3.12500005078138%;
    item-margin-right: 0%;
    item-margin-top: 40.000003814697266px;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-ljvfxl17 {
    height: auto;
    hidden: false;
    max-width: 99999px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 91.66666666666667%;
    align-self: start;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: start;
    item-margin-bottom: 100px;
    item-margin-left: 3.2552083333333335%;
    item-margin-right: 25px;
    item-margin-top: 13.020833333333334%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    spx-ref-width: 1280;
    spx-resolver-type: scale;
    font-size: 26.667spx;
    line-height: 1.8em;
    max-font-size: 20px;
    min-font-size: 16px;
    style-type: ComponentStyle;
  }

  #comp-ljvg0x5f {
    grid-template-columns: minmax(0px,1fr);
    grid-template-rows: minmax(77.132spx,auto) minmax(316.788spx,auto);
    container-layout: GridContainerLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-ljvg0x5x {
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: stretch;
    item-margin-bottom: 0px;
    item-margin-left: 0px;
    item-margin-right: 0px;
    item-margin-top: 0px;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-ljvg0x5y3 {
    flex-direction: column;
    container-layout: StackContainerLayout;
    align-self: start;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: start;
    item-margin-bottom: -0.001181640624992042%;
    item-margin-left: 25px;
    item-margin-right: 0%;
    item-margin-top: 3.126220703125%;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-ljvg0x5z3 {
    height: 50px;
    hidden: false;
    max-height: 99999px;
    max-width: 99999px;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 50.001px;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.VectorImage;
    page-id: ;
    skin: skins.viewer.VectorImageSkin;
    spx-ref-width: 768;
    spx-resolver-type: scale;
    style-type: ComponentStyle;
  }

  #comp-ljvg0x625 {
    align-self: start;
    item-margin-bottom: 5.184075169089952%;
    item-margin-left: 0px;
    item-margin-right: 0%;
    item-margin-top: 0px;
    order: 1;
    item-layout: StackItemLayout;
    layout-spx-refWidth: 768;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
    comp-id: ;
    class-name: wysiwyg.viewer.components.WRichText;
    page-id: ;
    skin: wysiwyg.viewer.skins.WRichTextNewSkin;
    spx-ref-width: 768;
    spx-resolver-type: scale;
    color: rgb(255,255,255);
    font-size: 55spx;
    font-weight: bold;
    line-height: 1.4em;
    max-font-size: 65px;
    min-font-size: 55px;
    text-align: left;
    text-decoration: none;
    style-type: ComponentStyle;
  }

  #comp-ljvg0x65 {
    align-self: stretch;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 2;
    justify-self: stretch;
    item-margin-bottom: 0px;
    item-margin-left: 0px;
    item-margin-right: 0px;
    item-margin-top: 0px;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 1280;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

  #comp-ljvgbxc6 {
    height: auto;
    hidden: false;
    max-height: 99999px;
    max-width: 99999px;
    min-height: 0px;
    min-width: 0px;
    component-layout: ComponentLayout;
    width: 91.876220703125%;
    align-self: center;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    justify-self: center;
    item-margin-bottom: 0%;
    item-margin-left: 25px;
    item-margin-right: 25px;
    item-margin-top: 0px;
    item-layout: GridItemLayout;
    layout-spx-refWidth: 390;
    layout-spx-resolverType: "scale";
    layout-type: SingleLayoutData;
  }

}
